@page "/"

@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@code{
    private bool userLoggedIn;

    protected override async Task OnInitializedAsync()
    {
        await checkLogin();
    }

    private async Task checkLogin()
    {
        if (!userLoggedIn)
        {
            Navigation.NavigateTo("/Login");
        }
    }
}
