@inherits LayoutComponentBase

@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @if (UserOnLoginOrRegister())
            {
                <button @onclick="LogOffUser" disabled>Abmelden</button>
            }
            else
            {
                <button @onclick="LogOffUser">Abmelden</button>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    public void LogOffUser()
    {
        Navigation.NavigateTo("/Login");
    }

    public bool UserOnLoginOrRegister()
    {
        string userPath = new Uri(Navigation.Uri).AbsolutePath;
        if(userPath == "/Login" || userPath == "/Register")
        {
            return true;
        }
        else
        {
            return false;
        }
    }
}